<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPF02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <WPF02.Properties.Settings>
            <setting name="SecondSaveActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondSaveFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstSaveEncryptActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondSaveEncryptActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstSavePassphrase" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondSavePassphrase" serializeAs="String">
                <value />
            </setting>
        </WPF02.Properties.Settings>
    </userSettings>
</configuration>
